# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Environment / secrets
.env

# Celery
celerybeat-schedule
celerybeat.pid

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.ymlrepo_clones/ 
